
/*
.wrap
{
}

.header
{
}
*/

.head-util-group
{
    /*#5d539d*/
    background:#7c6fd1;
    overflow: hidden;
    
    width: 100%;
    height: 35px;
}

.head-search-box
{
    background: white;

    width: 100%;
    height: 100px;
}

.nav
{
    background: white;

    width: 100%;
    height: 50px;

    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
}

/*
.container
{
}
*/

.section0
{
    width: 100%;

    background:url("https://www.snlib.go.kr/include/image/hor/main/bg_main_visual.jpg") 50% 50% no-repeat;
    background-size: cover;

    padding: 70px 0 50px;
}

.section1
{
    background: white;

    width: 100%;

}

.section1-content-wrap .table { display: flex; margin-bottom: 40px;}
.section1-content-wrap .table div { 
    width: 50%; height: 50px; background-color: #7c6fd1; border: 1px solid #e4e4e4; 
    border-left-width: 0px; line-height: 50px; font-size: 1.143em; font-weight: 600; text-align: center;
}
.section1-content-wrap .table div:first-child {color: white;}
.section1-content-wrap .table div:last-child {background-color: white; }

.section1-content-wrap .login-main-box-border { margin-bottom: 30px;}
.section1-content-wrap .login-main-box-border .innerbox {background-color: white; padding: 10px; display: flex;}
.section1-content-wrap .login-main-box-border .innerbox div:last-child{ margin: auto 0px; padding-left: 30px;}

.section1-content-wrap .linkbox{ display: flex; background-color: #f0f2fb !important; position: relative;}
.section1-content-wrap .linkbox p {line-height: 70px; padding-left: 15px; font-size: 1.143em;}
.section1-content-wrap .linkbox div{ float: left;}
.section1-content-wrap .linkbox .linkboxbutton { height: 100%; position: absolute; right: 0px;  display: flex;} 
.section1-content-wrap .linkbox div { width: 250px; height: 40px; margin: auto 10px; text-align: center; line-height: 40px;}

.section1-content-wrap .linkbox .linkboxbutton div { color: #fff;}
.section1-content-wrap .linkbox .linkboxbutton div:first-child { background-color: #9ca7e3 !important;}
.section1-content-wrap .linkbox .linkboxbutton div:last-child { background-color: #7c6fd1 !important;}


.section1-content-wrap h4 { font-size: 1.533em; font-weight: normal; 
    background-image: url("https://www.snlib.go.kr/include/image/hor/common/bul_htitle.png"); background-repeat: no-repeat;
    padding-top: 10px; margin-bottom: 15px;
}

.section1-content-wrap .ullist li{ margin-left: 10px; padding: 5px 12px;
    background-image: url("https://www.snlib.go.kr/include/image/hor/common/bul_dot.png"); background-repeat: no-repeat; background-position: 0 12px; }


.section1-content-wrap .login-main-box-border .monthbox { background-color: white;}
.section1-content-wrap .login-main-box-border .monthbox .monthwrap { display: flex; width: 300px; height: 70px; line-height: 70px; margin: auto auto;}
.section1-content-wrap .login-main-box-border .monthbox .monthwrap .arrow { width: 30px; height: 30px; margin: auto 10px;
    background-image: url( "https://www.snlib.go.kr/include/image/board/arr_sp.png" ); background-repeat: no-repeat;
    background-position: -2px -27px; border: 1px solid #e2e2e2;}
.section1-content-wrap .login-main-box-border .monthbox .monthwrap .month-text{ font-size: 1.333em;}
.section1-content-wrap .login-main-box-border .monthbox .monthwrap .month-button{ width: 70px; height: 32px; line-height: 32px; margin: auto 0px;
    color: #fff; background-color: #9ca7e3 !important; text-align: center; }

.book-list { height: auto;}
.book-list li { height: 160px; font-size: 1.087em; color: #555; border: 1px solid #e2e2e2; padding: 17px 20px; margin-bottom: 25px;}
.book-list li .book-text-wrap div:first-child{ font-size: 1.207em}
.book-list li .book-text-wrap div{ margin-bottom: 12px;}
.book-element { }
.book-img-wrap { width: 120px; height: 160px; float: left; margin-right: 22px;}
.book-img-wrap img { width: 100%; height: 100%;}

.page { margin: 40px 0px;}
.page div { background-color: #7c6fd1; color: white; font-size: 1.067em; font-weight: 600; width: 35px; line-height: 35px; height: 35px;
    margin: 0px auto; text-align: center;}

.search { background-color: #f4f4f4; line-height: 50px;}
.search-box-wrap { display: flex; width: 500px; margin: 0px auto; text-align: center; height: 50px;}

.book-select { width: 100px; height: 30px; line-height: 30px; border: 1px solid #ddd; margin: auto 10px auto 0px; background-color: white;}
.book-serach { width: 300px; height: 30px; line-height: 30px; border: 1px solid #ddd; margin: auto 10px auto 0px; background-color: white;}
.book-search-button { width : 80px;  height: 30px; line-height: 30px; background-color: #7c6fd1; color: white; font-size: 1.067em; margin: auto 10px auto 0px; background-color: #7c6fd1;}

.section2
{
    background: #f3f4f4;

    width: 100%;

}

.section3
{
    background: white;

    width: 100%;
}

.footer
{
    background: #585858;

    width: 100%;
    padding-bottom: 30px;
}






/*  head-util-group     */

.head-util-wrap0
{
    overflow: hidden;
    float: left;
}

.head-util-wrap0-box
{
    background: #5d539d;
    color: white;
    padding: 0 30px 0 15px;
}

.head-util-wrap1
{
    overflow: hidden;
}

.head-util-wrap2
{
    overflow: hidden;
    float: right;
}

.head-util-wrap2-table
{
    display: flex;
}
.head-util-wrap2-table li
{
    padding: 0px 10px 0px 10px;
    color: white;

}

/*  head-search-box     */

/*
.head-search-box-wrap0
{

}

.head-search-box-wrap1
{

}
.head-search-box-wrap2
{

}
*/

.logo-href
{
    position: absolute;
    top: 55px;
}


/* nav      */

.gnb
{
    display: flex;
}

/* > 'child selector */

.gnb > li
{
    color: #222;
    font-weight: bold;
    font-size: 1.257em;
    text-align: center;
    padding: 0px 20px 0px 20px;
    width: 13%;
}

.gnb >li > ul
{
    display: none;
}

.gnb > li > ul > li
{
    color: #222;
    font-weight: normal;
    font-size: 0.9em;
    text-align: center;

}

.gnb li:hover > a
{
    border-bottom: 2px solid black;
}

.gnb li:hover > ul
{
    /* display: block; */
    background-color: white;
    border-top: 0px;
    border: 1px solid #dedede;
}

.gnblicolor { color: #7c6fd1 !important;}

.nav-dynamic-area
{
    display: none;
    background-color: white;
    width: 100%;
    height: 250px;
    border-bottom: 1px solid #dedede;

    position: absolute;
}


/* container section0   */
.slogan
{
    text-align: center;
}

.section0-group
{
    overflow: hidden;
    display: flex;
}

.section0-group-box0
{
    background: white;
    border-radius: 8px;

    width: 30%;

    margin: 20px;
    padding: 20px;

}

.section0-group-box0 h2
{
    margin-top: 0px;
    color: #7c6fd1;
}

.area-wrap
{
    position: relative;
}

.area-id-wrap
{
    overflow: hidden;
    border-radius: 5px;
    padding-bottom: 5px;
}

.area-pass-wrap
{
    overflow: hidden;
    border-radius: 5px;
}

.area-id-wrap input
{
    background-color: #f4f4f4;
    line-height: 32px;

    margin-left: 5px;
}

.area-pass-wrap input
{
    background-color: #f4f4f4;
    line-height: 32px;

    margin-left: 5px;
}

.area-id-label
{
    display: block;
    float: left;

    width: 32px;
    height: 32px;

    background: url("https://www.snlib.go.kr/include/image/common/btn_snb.png") 0 -80px no-repeat;

    background-color: #7c6fd1;
}

.area-pass-label
{
    display: block;
    float: left;

    width: 32px;
    height: 32px;

    background: url("https://www.snlib.go.kr/include/image/common/btn_snb.png") 0 -80px no-repeat;

    background-color: #7c6fd1;
    background-position: 0 -120px;
}

.area-login-button
{
    position: absolute;
    right: 5px;
    top: 0px;

    width: 70px;
    height: 70px;

    background-color: #7c6fd1;

    text-align: center;
    line-height: 70px;

    color: white;
    font-size: 1.133em;
    font-weight: 600;
    border-radius: 5px;
}

.login-help-wrap
{
    display: flex;
    margin-top: 20px;
}
.login-help-wrap a
{
    font-size: 0.933em;
}
.login-help-wrap a:last-child
{
    padding: 0px 9px;
}
.section0-group-box1
{
    color: white;
    background: #9ca7e3;
    border-radius: 8px;

    width: 30%;

    margin: 20px;
    padding: 20px;

    font-size: 1.067em;
}

.section0-group-box1 h2 
{
    display: flex;
    margin-top: 0px;
}

.section0-group-box1 li
{
    /* ul에서의(부모) 하위 li (자식) display flex 로는 width 50% 적용이 안 됨*/
    /* flot left */
    float: left;
    width: 50%;
    background: url("https://www.snlib.go.kr/include/image/common/ico_main_my.png") 0% 0% no-repeat;

    line-height: 33px;
}

    /* 해당 child에 접근함*/
.section0-group-box1 li:nth-of-type(2)
{
    background-position: 0 -30px;
}
.section0-group-box1 li:nth-of-type(3)
{
    background-position: 0 -60px;
}
.section0-group-box1 li:nth-of-type(4)
{
    background-position: 0 -90px;
}
.section0-group-box1 li:nth-of-type(5)
{
    background-position: 0 -120px;
}
.section0-group-box1 li:nth-of-type(6)
{
    background-position: 0 -150px;
}

.section0-group-box1 a
{
    padding-left: 33px;
}

.section0-group-box2
{
    color: white;
    background: #7c6fd1;
    border-radius: 8px;

    width: 40%;

    margin: 20px;
    padding: 20px;
}

.section0-group-box2 h2 
{
    display: flex;
    margin-top: 0px;
}

.section0-group-box2-wrap0
{
    display: flex;
    margin-top: -5px;
    margin-bottom: 5px;
}


.section0-group-box2-wrap0-element0
{
    overflow: hidden;
    position: relative;

    padding: 0px 20px;
    padding-right: 50px;
}

.section0-group-box2-wrap0-element0 p
{
    width: 70px;
    height: 70px;
    border: 2px solid white;

    text-align: center;
    line-height: 70px;

    font-size: 2.267em;

    float: left;

    margin-top: 15px;
}

.all
{
    border: 2px solid white;
    border-color: #dce0f5;
    border-radius: 50%;

    color: #7c6fd1;
    font-size: 1.533em;

    background-color: #dce0f5;

    width: 42px;
    height: 42px;
    text-align: center;
    line-height: 42px;

    margin: 0px 6px 6px 0px;

    float: left;
}

.holiday 
{
    border: 2px solid white;
    border-color: #dce0f5;
    border-radius: 50%;

    color: #f0f2fb;
    font-size: 1.533em;

    width: 42px;
    height: 42px;
    text-align: center;
    line-height: 42px;

    margin: 0px 6px 6px 0px;

    float: left;
}

/*
.section0-group-box2-wrap1
{
}
*/

.section0-group-box2-wrap1-element0
{
    font-size: 12px;
    float: left;
}

.bg-all
{
    width: 12px;
    height: 12px;
    float: left;

    background-color: #dce0f5;
    border-radius: 8px;

    margin-top: 3px;
    margin-right: 5px;

}

.section0-group-box2-wrap1-element1
{
    float: right;
}

.bg-holiday
{
    width: 8px;
    height: 8px;
    float: left;


    border-radius: 8px;
    border: 2px solid #fff;

    margin-top: 3px;
    margin-right: 5px;
}

.section0-group-box2-wrap1-element1 p
{
    text-align: right;
}

.month-left
{
    display: block;
    float: left;
    width: 15px;
    height: 20px;
    background: url(https://www.snlib.go.kr/include/image/board/arr_sp.png) 0 -440px no-repeat;

    position: absolute;
    left: 0;
    top: 50%;

    margin-top: -10px;
}


.month-right
{
    display: block;
    float: left;
    width: 15px;
    height: 20px;
    background: url(https://www.snlib.go.kr/include/image/board/arr_sp.png) 0 -440px no-repeat;
    background-position: 0 -470px;
    
    position: absolute;
    right: 0;
    top: 50%;

    margin-top: -10px;
}

.none-text
{
    /* 좌표위치로 멀리 보냄*/
    overflow:hidden;
    position: absolute;
    top: -1000px;
    right: -1000px;
}


/* container section1   */

.shortcutList-table
{
    display: flex;
    padding: 15px 0px;
}

.shortcutList-table li
{
    width: 14%;
    text-align: center;
}

.shortcutList-table-icon
{
    width: 80px;
    height: 80px;
    background: url("https://www.snlib.go.kr/include/image/hor/main/ico_shortcut.png");
    margin: 0px auto;
}

.sicon-1
{
    background-position: -80px 0;
}
.sicon-2
{
    background-position: -160px 0;
}
.sicon-3
{
    background-position: -240px 0;
}
.sicon-4
{
    background-position: -320px 0;
}
.sicon-5
{
    background-position: -400px 0;
}
.sicon-6
{
    background-position: -480px 0;
}



/* container section2   */

.section2-group
{
    overflow: hidden;
    display: flex;
    padding: 30px 0px;
}
.section2-box0
{
    display: flex;
    width: 60%;


}

.section2-box0-element0
{
    width: 50%;
    background: #515665;
    padding: 25px 20px;
}

.section2-box0-element0 h2
{
    color: white;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 20px;
    margin-top: 0px;
}

.section2-box0-element0 li
{
    color: white;
    margin-top: 7px;

    position: relative;
}

.section2-box0-element0 li span
{
    position: absolute;
    right: 0;
}

.section2-box0-element1
{
    width: 30%;
    background: #7c6fd1;
    padding: 25px 15px;

    text-align: center;

}

.section2-box0-element1 h2
{
    color: white;
    margin-top: 0px;
    margin-bottom: 25px;
}

.section2-box0-element1 p
{
    color: white;
    font-size: 1.200em;
}

.section2-box0-element1 img
{
    margin-bottom: 30px;
}

.section2-box0-element2
{
    width: 20%;
    background-color: #9ca7e3;
    text-align: center;
    font-weight: bold;
    font-size: 1.33em;

}

.section2-box0-element2 div
{
    height: 50%;
}
.section2-box0-element2 a
{
    color: white;
    display: block;
    height: 100%;
    padding-top: 25px;
}

/* 마지막 자식 접근*/
.section2-box0-element2 div:last-child
{
    background-color: #d0d4e6;
}
.section2-box0-element2 img
{
    display: block;
    margin: 0px auto;
    padding-top: 10px;
}

.section2-box1
{
    width: 37%;
    background-color: white;
    border: 1px solid #e6e6e6;

}

.section2-box1-table0
{
    border-bottom: 1px solid #e6e6e6;
    overflow: hidden;
}
.section2-box1-table0 li
{
    padding: 0px 10px 0px 25px;
    overflow: hidden;
    float: left;
}
.section2-box1-table0 li a
{
    font-size: 1.313em;
    line-height: 53px;
}
.notic-select a
{
    font-weight: bold;
    border-bottom: 2px solid #666;
    float: left;
}
.section2-box1-table1
{
    padding: 15px 25px;
}

.section2-box1-table1 li
{
    line-height: 35px;
    /* postion relative 안하면 품고 있는 목록 postion right 적용 안 됨*/
    position: relative;
}

.section2-box1-table1 span
{
    position: absolute;
    right: 0;
}

/* container section3   */

.section3-group
{
    overflow: hidden;
    display: flex;
    padding: 30px 0px;
}

.section3-group-box0
{
    width: 60%;
}

.section3-group-box1
{
    width: 37%;
}
.section3-group-box1 .imgbox
{
    position: relative;
    overflow: hidden;
    width: 460px;
    height: 300px;
}

.move-img-box
{
    display: flex;
    position: absolute;
}
.section3-group-box1 .imgbox img
{
    width: 460px;
    height: 300px;
}
.section3-group-box1 .imgbox .control-box
{
    position: absolute;
    display: flex;
    width: 100px;
    height: 25px;
    top: 0px;
    right: 0px;
}

.button 
{
    position: absolute;
    width: 25px;
    height: 25px;
    cursor: pointer;
    background-color: red;
}

.left
{
    background: url("https://www.snlib.go.kr/include/image/common/btn_roll.png") 0 0 no-repeat;
}

.right
{
    background-position-x : -78px;
    transform: rotate( 180deg );
    background: url("https://www.snlib.go.kr/include/image/common/btn_roll.png") 0 0 no-repeat;
}

.section3-table-menu
{
    display: flex;
    padding-bottom: 25px;
}

.section3-table-menu li
{
    width: 25%;
    font-size: 1.200em;
    letter-spacing: -0.05em;
    line-height: 50px;

    text-align: center;
    border: 1px solid #e6e6e6;
    
}

.book-menu-select
{
    background-color: #515665;
    border-color: #515665;
}

.book-menu-select a
{
    font-weight: bold;
    color: white;
    font-size: 1.200em;
}

.section3-table-item
{
    display: flex;
}

.section3-table-item li
{
    width: 25%;
}

.section3-table-item-cover
{
    display: block;
    width: 85%;
    background: url("https://www.snlib.go.kr/include/image/common/bg_main_book.png") 100% 100% no-repeat;
    background-size: cover;
}

.section3-table-item-cover img
{
    width: 100%;
    height: 100%;
}

.section3-table-item-cover-title
{
    overflow: hidden;
    /* 초과하는 텍스트를 숨김 overflow && white-space 세트*/
    text-overflow: ellipsis;
    white-space: nowrap;
}
.section3-table-item-cover-writer
{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 33px;
    text-align: center;
}

/* footer   */

/*
.footer-inner
{

}
*/

.footer-inner-table
{
    display: flex;
}

.footer-inner-table li
{
    padding: 15px 10px;
    color: #eaeaea;
}

.footer-bottom
{
    border-top: 1px solid #757575;
    padding-top: 20px;
    text-align: center;
    color: #eaeaea;
}

/* global */

body
{
    font-size: 0.938em;
}
html, body, div, span, iframe, p, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, input, textarea, button, select, table, th, td, article, aside, section, figure, figcaption, img
{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

a 
{
    text-decoration: none;
    color: inherit;
}

li
{
    list-style:none;
}


/* 최대 widht를 설정함 */
.max-width
{
    max-width: 1200px;
}

/* top bottom 0px, right left 마진을 모두 자동으로 채움*/
.margin-0-auto
{
    margin: 0px auto;
}

.right-solid-white
{
    border-right:  1px solid rgba(255,255,255,.5);
}

.left-solid-white
{
    border-left:  1px solid rgba(255,255,255,.5);
}

.right-solid-gray
{
    border-right: 2px solid #dbdbdb;
    padding: 0px 9px;
}

.none-section
{
    width: 3%;
}




/* login-site css */

.container-group
{
    display: flex;
    padding-top: 12px;
    overflow: hidden;
}


/* login */


.login-nav-box > div
{
    background-color: #7c6fd1;
    color: white;
    width: 230px;
    
}

.login-nav-box > div > h2
{
    margin-bottom: 0px;
    line-height: 60px;
    text-align: center;
    padding: 30px 0px;
}

.login-nav-box a
{
    display: block;
    border: 1px solid #e1e1e1;
    padding:  15px 15px;
}

.login-nav-box-select
{
    background-color: #585858;
    color: white;
    font-weight: bold;
}

.login-nav-box-select > a
{
    border: 0px;
} 


/*
    li에 기반한 borer가 잘 적용이 안 될 수도 있다 그러면
    그 하위 오브젝트에 border를 적용하거나
    border-top 혹은 border 0 과 같이 적용을 해제해


*/


.login-section1
{
    width: 100%;
    height: 800px;
}

.login-section1 div h2 {color: #555; }

.login-bar
{
    padding: 10px 70px 10px 0;
    background: url("https://www.snlib.go.kr/include/image/common/bg_diagonal_line.png") 0 0 repeat-x,
                url("https://www.snlib.go.kr/include/image/common/bg_diagonal_line.png") 0 100% repeat-x;
    /* backgroud 적용 */
    margin-bottom: 40px;
}

.login-section1 h2
{
    font-weight : normal;
    font-size: 2em;
}

.login-main-box-border
{
    padding: 10px;
    background: url("https://www.snlib.go.kr/include/image/common/bg_pattern_desc.png") repeat;
}

.login-main-box-wrap
{
    width: 450px;
    margin: 0px auto;

}

.login-main-box
{
    padding: 30px 50px;
    background-color: white;
}

.login-main-box img
{
    margin: 20px auto;
    margin-bottom: 40px;
    display: block;
}

.login-main-form
{
    text-align: center;
}

.login-main-form input
{
    width: 100%;
    display: block;
    line-height: 45px;
    border: 1px solid #e1e1e1;
    margin: 15px 0px;
    font-size: 1.067em;
}

.lgin-util-group
{
    margin: 15px 0px;
}



.login-button
{
    background-color: #7c6fd1;
    text-align: center;
    line-height: 45px;

    color: white;
    font-size: 1.067em;
    
}

.login-button a
{
    display: block;
    width: 100%;
}

.login-main-footer
{
    border-top: 1px solid #ddd;
    padding-top: 15px;
    margin-top: 35px;
}

.login-main-footer p
{
    margin: 5px 0px;
}